:root {
    --fallback_serif: serif;
    --fallback_sans: sans-serif;
    --font_main: "Roboto";
    --family_main: var(--font_main), var(--fallback_sans);
    --fontWeight_medium: 500;
    --fontWeight_regular: 400;
    --fontWeight_light: 300;
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("roboto-light-webfont.woff2") format("woff2"), url("roboto-light-webfont.woff") format("woff");
}
/** Regular: 400 **/
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
}
/** Medium: 500 **/
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("roboto-medium-webfont.woff2") format("woff2"), url("roboto-medium-webfont.woff") format("woff");
}
/** 
    For demo purposes, font declarations are only added to specific elements (excluding body).
**/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--family_main);
    font-weight: var(--fontWeight_medium);
}

li {
    font-family: var(--family_main);
    font-weight: var(--fontWeight_regular);
}

p {
    font-family: var(--family_main);
    font-weight: var(--fontWeight_light);
}
